@font-face {
    font-family: "Product Sans";
    src: url("Font/Product Sans Regular.ttf");
  }
  *,
body {
    font-family: "Product Sans";
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
  }
  .contain {
    border-radius: 24px !important;
    width: 360px;
    display: flex;
    margin: 0 auto;
    min-height: 640px;
  }
  a {
    color: #ec2028;
  }
  

  h3 {
      font-size: 14px;
      color: #747D8C;
      margin-top: -10%;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
  }
  
  
  .btn1{
    width: 140px;
    height: 41px;
    align-items: center;
    background-color: #E4E5EA;
    color: #747D8C;
}

.content button{
    font-family: "Google Sans";
    width: 100%;
}
  .content button:hover {
    background-color: #EC2028;
    color: #fff;
  }
  .mobile-text {
    color: #989696b8;
    font-size: 15px;
  }
  